{
  "openapi": "3.1.0",
  "info": {
    "title": "TrackMovil — API",
    "version": "0.1.0",
    "description": "Catálogo de las APIs propias de TrackMovil (RiogasTracking, app 5 en SecuritySuite).\n\nGENERADO por `pnpm docs:api` a partir de app/api/**/route.ts. No editar a mano:\nlas descripciones, los consumidores y los ejemplos van en docs/api/anotaciones.yaml,\nque se mergea encima al servir GET /api/docs/spec.\n\n`x-auth` refleja los gates que el handler REALMENTE invoca. `x-auth.sinGate: true`\nsignifica que el endpoint no valida nada: es información sensible y por eso este\nportal es solo-root."
  },
  "servers": [
    {
      "url": "https://track.glp.riogas.com.uy",
      "description": "producción"
    }
  ],
  "tags": [
    {
      "name": "admin"
    },
    {
      "name": "all-positions"
    },
    {
      "name": "audit"
    },
    {
      "name": "auth"
    },
    {
      "name": "coordinates"
    },
    {
      "name": "debug"
    },
    {
      "name": "demoras"
    },
    {
      "name": "docs"
    },
    {
      "name": "email-config"
    },
    {
      "name": "empresas"
    },
    {
      "name": "escenario-settings"
    },
    {
      "name": "fleteras-zonas"
    },
    {
      "name": "geocode"
    },
    {
      "name": "import"
    },
    {
      "name": "incidents"
    },
    {
      "name": "latest"
    },
    {
      "name": "manual"
    },
    {
      "name": "metricas"
    },
    {
      "name": "movil"
    },
    {
      "name": "movil-session"
    },
    {
      "name": "moviles-actividad-dia"
    },
    {
      "name": "moviles-dia"
    },
    {
      "name": "moviles-extended"
    },
    {
      "name": "moviles-with-activity"
    },
    {
      "name": "moviles-zonas"
    },
    {
      "name": "notificaciones"
    },
    {
      "name": "overpass"
    },
    {
      "name": "pedido-detalle"
    },
    {
      "name": "pedidos"
    },
    {
      "name": "pedidos-pendientes"
    },
    {
      "name": "pedidos-servicios"
    },
    {
      "name": "pedidos-servicios-pendientes"
    },
    {
      "name": "proxy"
    },
    {
      "name": "puntos-interes"
    },
    {
      "name": "realtime-config"
    },
    {
      "name": "server-time"
    },
    {
      "name": "services"
    },
    {
      "name": "servicio-detalle"
    },
    {
      "name": "user-preferences"
    },
    {
      "name": "zonas"
    }
  ],
  "paths": {
    "/api/admin/escenario-settings": {
      "get": {
        "description": "Retorna la lista de escenarios con sus settings actuales.\nSi un escenario no tiene row en escenario_settings, los campos usan sus defaults.",
        "operationId": "getApiAdminEscenarioSettings",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Retorna la lista de escenarios con sus settings actuales.",
        "tags": [
          "admin"
        ],
        "x-archivo": "app/api/admin/escenario-settings/route.ts",
        "x-auth": {
          "funcionalidades": [
            "Conf. Globales x Escenario"
          ],
          "gates": [
            "requireFuncionalidad"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "put": {
        "description": "Retorna la lista de escenarios con sus settings actuales.\nSi un escenario no tiene row en escenario_settings, los campos usan sus defaults.",
        "operationId": "putApiAdminEscenarioSettings",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Retorna la lista de escenarios con sus settings actuales.",
        "tags": [
          "admin"
        ],
        "x-archivo": "app/api/admin/escenario-settings/route.ts",
        "x-auth": {
          "funcionalidades": [
            "Conf. Globales x Escenario"
          ],
          "gates": [
            "requireFuncionalidad"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/admin/login-blocks": {
      "get": {
        "operationId": "getApiAdminLoginBlocks",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "GET /api/admin/login-blocks",
        "tags": [
          "admin"
        ],
        "x-archivo": "app/api/admin/login-blocks/route.ts",
        "x-auth": {
          "funcionalidades": [
            "Query Inicios de sesion"
          ],
          "gates": [
            "requireFuncionalidad"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/admin/login-blocks/{id}": {
      "delete": {
        "operationId": "deleteApiAdminLoginBlocksId",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "DELETE /api/admin/login-blocks/{id}",
        "tags": [
          "admin"
        ],
        "x-archivo": "app/api/admin/login-blocks/[id]/route.ts",
        "x-auth": {
          "funcionalidades": [
            "Query Inicios de sesion"
          ],
          "gates": [
            "requireFuncionalidad"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/admin/login-logs": {
      "get": {
        "operationId": "getApiAdminLoginLogs",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "GET /api/admin/login-logs",
        "tags": [
          "admin"
        ],
        "x-archivo": "app/api/admin/login-logs/route.ts",
        "x-auth": {
          "funcionalidades": [
            "Query Inicios de sesion"
          ],
          "gates": [
            "requireFuncionalidad"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/admin/login-security/config": {
      "get": {
        "operationId": "getApiAdminLoginSecurityConfig",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "GET /api/admin/login-security/config",
        "tags": [
          "admin"
        ],
        "x-archivo": "app/api/admin/login-security/config/route.ts",
        "x-auth": {
          "funcionalidades": [
            "Query Inicios de sesion"
          ],
          "gates": [
            "requireFuncionalidad"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "put": {
        "operationId": "putApiAdminLoginSecurityConfig",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "PUT /api/admin/login-security/config",
        "tags": [
          "admin"
        ],
        "x-archivo": "app/api/admin/login-security/config/route.ts",
        "x-auth": {
          "funcionalidades": [
            "Query Inicios de sesion"
          ],
          "gates": [
            "requireFuncionalidad"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/admin/login-security/unblock": {
      "post": {
        "description": "POST /api/admin/login-security/unblock — Desbloquear usuario o IP manualmente\n\nBody: { type: 'user' | 'ip', value: string }\nEfecto: soft-unblock en login_blocks (is_active=false, unblocked_at, unblocked_by)\nAudit trail: registra quién hizo el unblock y cuándo.\n\nGate: funcionalidad 'Query Inicios de sesion'",
        "operationId": "postApiAdminLoginSecurityUnblock",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "404": {
            "description": "No encontrado"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "POST /api/admin/login-security/unblock — Desbloquear usuario o IP manualmente",
        "tags": [
          "admin"
        ],
        "x-archivo": "app/api/admin/login-security/unblock/route.ts",
        "x-auth": {
          "funcionalidades": [
            "Query Inicios de sesion"
          ],
          "gates": [
            "requireFuncionalidad"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/admin/login-security/usuario-detalle": {
      "get": {
        "operationId": "getApiAdminLoginSecurityUsuarioDetalle",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "502": {
            "description": "Error del upstream"
          }
        },
        "summary": "GET /api/admin/login-security/usuario-detalle",
        "tags": [
          "admin"
        ],
        "x-archivo": "app/api/admin/login-security/usuario-detalle/route.ts",
        "x-auth": {
          "funcionalidades": [
            "Query Inicios de sesion"
          ],
          "gates": [
            "requireFuncionalidad"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/admin/notificaciones": {
      "get": {
        "operationId": "getApiAdminNotificaciones",
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Creado"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "GET /api/admin/notificaciones",
        "tags": [
          "admin"
        ],
        "x-archivo": "app/api/admin/notificaciones/route.ts",
        "x-auth": {
          "funcionalidades": [
            "Administrar notificaciones"
          ],
          "gates": [
            "requireFuncionalidad"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "post": {
        "operationId": "postApiAdminNotificaciones",
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Creado"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "POST /api/admin/notificaciones",
        "tags": [
          "admin"
        ],
        "x-archivo": "app/api/admin/notificaciones/route.ts",
        "x-auth": {
          "funcionalidades": [
            "Administrar notificaciones"
          ],
          "gates": [
            "requireFuncionalidad"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/admin/notificaciones/upload": {
      "post": {
        "operationId": "postApiAdminNotificacionesUpload",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "POST /api/admin/notificaciones/upload",
        "tags": [
          "admin"
        ],
        "x-archivo": "app/api/admin/notificaciones/upload/route.ts",
        "x-auth": {
          "funcionalidades": [
            "Administrar notificaciones"
          ],
          "gates": [
            "requireFuncionalidad"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/admin/notificaciones/{id}": {
      "delete": {
        "operationId": "deleteApiAdminNotificacionesId",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "404": {
            "description": "No encontrado"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "DELETE /api/admin/notificaciones/{id}",
        "tags": [
          "admin"
        ],
        "x-archivo": "app/api/admin/notificaciones/[id]/route.ts",
        "x-auth": {
          "funcionalidades": [
            "Administrar notificaciones"
          ],
          "gates": [
            "requireFuncionalidad"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "put": {
        "operationId": "putApiAdminNotificacionesId",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "404": {
            "description": "No encontrado"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "PUT /api/admin/notificaciones/{id}",
        "tags": [
          "admin"
        ],
        "x-archivo": "app/api/admin/notificaciones/[id]/route.ts",
        "x-auth": {
          "funcionalidades": [
            "Administrar notificaciones"
          ],
          "gates": [
            "requireFuncionalidad"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/admin/notificaciones/{id}/lecturas": {
      "get": {
        "operationId": "getApiAdminNotificacionesIdLecturas",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "GET /api/admin/notificaciones/{id}/lecturas",
        "tags": [
          "admin"
        ],
        "x-archivo": "app/api/admin/notificaciones/[id]/lecturas/route.ts",
        "x-auth": {
          "funcionalidades": [
            "Administrar notificaciones"
          ],
          "gates": [
            "requireFuncionalidad"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/admin/recalcular-cap-entrega-all": {
      "post": {
        "description": "Recalcula zonas_cap_entrega para TODOS los moviles de TODOS los escenarios\n(o de un escenario especifico si se pasa escenarioId en el body).\n\nUtil para el refresh inicial tras aplicar la migration de peso_transito_alpha.\n\nGate: funcionalidad 'Recalcular Cap. Entrega global'\n\nBody (opcional):\n  { \"escenarioId\": 1 }  — si se omite, procesa todos los escenarios\n\nResponse:\n  { success: true, total: N, processed: N, errors: [...] }",
        "operationId": "postApiAdminRecalcularCapEntregaAll",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Recalcula zonas_cap_entrega para TODOS los moviles de TODOS los escenarios (o de un escenario especifico si se pasa escenarioId en el body).",
        "tags": [
          "admin"
        ],
        "x-archivo": "app/api/admin/recalcular-cap-entrega-all/route.ts",
        "x-auth": {
          "funcionalidades": [
            "Recalcular Cap. Entrega global"
          ],
          "gates": [
            "requireFuncionalidad"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/admin/reset-manual": {
      "post": {
        "operationId": "postApiAdminResetManual",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "POST /api/admin/reset-manual",
        "tags": [
          "admin"
        ],
        "x-archivo": "app/api/admin/reset-manual/route.ts",
        "x-auth": {
          "funcionalidades": [
            "Subir manuales de usuario"
          ],
          "gates": [
            "requireFuncionalidad"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/admin/upload-manual": {
      "post": {
        "operationId": "postApiAdminUploadManual",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "POST /api/admin/upload-manual",
        "tags": [
          "admin"
        ],
        "x-archivo": "app/api/admin/upload-manual/route.ts",
        "x-auth": {
          "funcionalidades": [
            "Subir manuales de usuario"
          ],
          "gates": [
            "requireFuncionalidad"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/admin/usuarios-empresa": {
      "get": {
        "operationId": "getApiAdminUsuariosEmpresa",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          },
          "502": {
            "description": "Error del upstream"
          }
        },
        "summary": "GET /api/admin/usuarios-empresa",
        "tags": [
          "admin"
        ],
        "x-archivo": "app/api/admin/usuarios-empresa/route.ts",
        "x-auth": {
          "funcionalidades": [
            "Gestion de Usuarios"
          ],
          "gates": [
            "header x-track-isroot (spoofeable)",
            "requireFuncionalidad"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/admin/usuarios-empresa/toggle": {
      "post": {
        "operationId": "postApiAdminUsuariosEmpresaToggle",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "502": {
            "description": "Error del upstream"
          }
        },
        "summary": "POST /api/admin/usuarios-empresa/toggle",
        "tags": [
          "admin"
        ],
        "x-archivo": "app/api/admin/usuarios-empresa/toggle/route.ts",
        "x-auth": {
          "funcionalidades": [
            "Gestion de Usuarios"
          ],
          "gates": [
            "requireFuncionalidad"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/all-positions": {
      "get": {
        "operationId": "getApiAllPositions",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "GET /api/all-positions",
        "tags": [
          "all-positions"
        ],
        "x-archivo": "app/api/all-positions/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireAuth (sesión Supabase)"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/audit": {
      "post": {
        "description": "Endpoint que recibe eventos de auditoría desde el interceptor de fetch\ndel cliente (AuditProvider). El body es un array de eventos; los insertamos\nen batch en audit_log junto con user_id/username derivados del JWT.\n\nEste endpoint NO pasa por rate limit (está en la exclusión del proxy) ni\nrequiere auth formal — si hay token lo usa; si no, guarda como usuario anón.\nMotivo: queremos capturar todo incluso si el JWT expiró mientras navegaban.",
        "operationId": "postApiAudit",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Endpoint que recibe eventos de auditoría desde el interceptor de fetch del cliente (AuditProvider).",
        "tags": [
          "audit"
        ],
        "x-archivo": "app/api/audit/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [],
          "sinGate": true
        },
        "x-generado": true
      }
    },
    "/api/audit/config": {
      "get": {
        "description": "GET  /api/audit/config — estado actual del toggle (público, sin auth)\nPOST /api/audit/config — cambia el toggle (solo root)\n\nGET: retorna { enabled, updated_at, updated_by }. Cache server 5s.\nPOST: body { enabled: boolean }. Auth:\n  - JWT válido en `Authorization: Bearer ...` (firmado por Security Suite,\n    contiene userId/username pero NO isRoot — solo prueba autenticación).\n  - Header `x-track-isroot: 'S'` indicando que el cliente reporta ser root.\n    Mismo patrón que /api/audit (header `x-track-user` confiado del cliente).\n    La seguridad es consistente con el resto del codebase: los gates admin\n    son client-side. Para endurecer en el futuro habría que añadir un check\n    contra el Security Suite o una tabla de roles en la DB.",
        "operationId": "getApiAuditConfig",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "401": {
            "description": "No autenticado"
          },
          "403": {
            "description": "Acceso denegado"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "GET /api/audit/config — estado actual del toggle (público, sin auth) POST /api/audit/config — cambia el toggle (solo root)",
        "tags": [
          "audit"
        ],
        "x-archivo": "app/api/audit/config/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "header x-track-isroot (spoofeable)"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "post": {
        "description": "GET  /api/audit/config — estado actual del toggle (público, sin auth)\nPOST /api/audit/config — cambia el toggle (solo root)\n\nGET: retorna { enabled, updated_at, updated_by }. Cache server 5s.\nPOST: body { enabled: boolean }. Auth:\n  - JWT válido en `Authorization: Bearer ...` (firmado por Security Suite,\n    contiene userId/username pero NO isRoot — solo prueba autenticación).\n  - Header `x-track-isroot: 'S'` indicando que el cliente reporta ser root.\n    Mismo patrón que /api/audit (header `x-track-user` confiado del cliente).\n    La seguridad es consistente con el resto del codebase: los gates admin\n    son client-side. Para endurecer en el futuro habría que añadir un check\n    contra el Security Suite o una tabla de roles en la DB.",
        "operationId": "postApiAuditConfig",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "401": {
            "description": "No autenticado"
          },
          "403": {
            "description": "Acceso denegado"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "GET /api/audit/config — estado actual del toggle (público, sin auth) POST /api/audit/config — cambia el toggle (solo root)",
        "tags": [
          "audit"
        ],
        "x-archivo": "app/api/audit/config/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "header x-track-isroot (spoofeable)"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/audit/list": {
      "get": {
        "description": "Endpoint para la UI de /admin/auditoria. Devuelve eventos con paginación\ny filtros opcionales (user, event_type, endpoint, rango de fechas).\nLee con service_role para ver todo (bypass RLS).",
        "operationId": "getApiAuditList",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Endpoint para la UI de /admin/auditoria.",
        "tags": [
          "audit"
        ],
        "x-archivo": "app/api/audit/list/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [],
          "sinGate": true
        },
        "x-generado": true
      }
    },
    "/api/auth/login": {
      "post": {
        "operationId": "postApiAuthLogin",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "POST /api/auth/login",
        "tags": [
          "auth"
        ],
        "x-archivo": "app/api/auth/login/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [],
          "sinGate": true
        },
        "x-generado": true
      }
    },
    "/api/auth/logout": {
      "post": {
        "description": "🚪 Logout — limpieza de cookies residuales de Supabase.\n\nYa no usamos `supabase.auth.signInAnonymously()` en el login, pero históricamente\nsí: pueden quedar cookies `sb-<ref>-auth-token` expiradas en los browsers de los\nusuarios. Si no se borran, el cliente las sigue enviando en las requests al WS\nde Realtime y Supabase las rechaza (sesión expirada + anonymous_provider_disabled),\ndejando Realtime colgado \"Conectando\".\n\nEste endpoint recorre las cookies del request, marca todas las `sb-*-auth-token`\ncon Max-Age=0 en la respuesta para que el browser las elimine.",
        "operationId": "postApiAuthLogout",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "🚪 Logout — limpieza de cookies residuales de Supabase.",
        "tags": [
          "auth"
        ],
        "x-archivo": "app/api/auth/logout/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [],
          "sinGate": true
        },
        "x-generado": true
      }
    },
    "/api/auth/permisos": {
      "post": {
        "operationId": "postApiAuthPermisos",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "No autenticado"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "POST /api/auth/permisos",
        "tags": [
          "auth"
        ],
        "x-archivo": "app/api/auth/permisos/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [],
          "sinGate": true
        },
        "x-generado": true
      }
    },
    "/api/coordinates": {
      "get": {
        "operationId": "getApiCoordinates",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "GET /api/coordinates",
        "tags": [
          "coordinates"
        ],
        "x-archivo": "app/api/coordinates/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireAuth (sesión Supabase)"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/debug/toggle": {
      "get": {
        "description": "Ver estado actual de los flags de debug.\n\nPOST /api/debug/toggle\nPrender/apagar logs en runtime sin reiniciar PM2.\n\nBody: { \"flag\": \"gps\" | \"movZonas\", \"value\": true | false }\nO sin body para toggle automático de GPS.\n\nEjemplos:\n  curl -X POST https://track.rfriogas.com/api/debug/toggle -H \"X-API-Key: ...\" -H \"Content-Type: application/json\" -d '{\"flag\":\"gps\",\"value\":true}'\n  curl -X POST https://track.rfriogas.com/api/debug/toggle -H \"X-API-Key: ...\"   # toggle GPS\n  curl    https://track.rfriogas.com/api/debug/toggle -H \"X-API-Key: ...\"         # ver estado",
        "operationId": "getApiDebugToggle",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Ver estado actual de los flags de debug.",
        "tags": [
          "debug"
        ],
        "x-archivo": "app/api/debug/toggle/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "post": {
        "description": "Ver estado actual de los flags de debug.\n\nPOST /api/debug/toggle\nPrender/apagar logs en runtime sin reiniciar PM2.\n\nBody: { \"flag\": \"gps\" | \"movZonas\", \"value\": true | false }\nO sin body para toggle automático de GPS.\n\nEjemplos:\n  curl -X POST https://track.rfriogas.com/api/debug/toggle -H \"X-API-Key: ...\" -H \"Content-Type: application/json\" -d '{\"flag\":\"gps\",\"value\":true}'\n  curl -X POST https://track.rfriogas.com/api/debug/toggle -H \"X-API-Key: ...\"   # toggle GPS\n  curl    https://track.rfriogas.com/api/debug/toggle -H \"X-API-Key: ...\"         # ver estado",
        "operationId": "postApiDebugToggle",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Ver estado actual de los flags de debug.",
        "tags": [
          "debug"
        ],
        "x-archivo": "app/api/debug/toggle/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/demoras": {
      "get": {
        "description": "Obtener todas las demoras (para Capas de Información en el mapa)\n\nQuery params:\n  - escenarioId: filtrar por escenario\n  - zonaId: filtrar por zona\n  - activa: filtrar por estado (default: todas)\n  - empresaIds: CSV de empresa_fletera_id (scoping vía fleteras_zonas)",
        "operationId": "getApiDemoras",
        "parameters": [
          {
            "description": "filtrar por escenario",
            "in": "query",
            "name": "escenarioId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filtrar por zona",
            "in": "query",
            "name": "zonaId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "filtrar por estado (default: todas)",
            "in": "query",
            "name": "activa",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "CSV de empresa_fletera_id (scoping vía fleteras_zonas)",
            "in": "query",
            "name": "empresaIds",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Obtener todas las demoras (para Capas de Información en el mapa)",
        "tags": [
          "demoras"
        ],
        "x-archivo": "app/api/demoras/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireAuth (sesión Supabase)"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/demoras/comparativa": {
      "get": {
        "description": "Serie del día y brecha por zona entre la demora que calcula TrackMovil y\nla que informa el AS400. Lee `demoras_calculadas`, que guarda el snapshot\ndel AS400 en cada corrida — el import del AS400 pisa su propia tabla, así\nque sin ese snapshot no habría con qué comparar.\n\nQuery params:\n  - escenario  (requerido, int)\n  - fecha      (opcional, YYYY-MM-DD; default hoy en Montevideo)\n  - tipo       (opcional, URGENTE|NOCTURNO|SERVICE; default URGENTE)\n  - zona       (opcional, int) — si viene, `serie` es de esa zona\n  - empresaIds (opcional, CSV de empresa_fletera_id) — scope de zonas del\n    caller no-root, resuelto vía `fleteras_zonas` (mismo patrón que\n    app/api/demoras/route.ts y app/api/zonas/route.ts).\n\nOJO: el AS400 solo informa URGENTE. Para NOCTURNO y SERVICE `as400` viene\nnull y la brecha no se puede calcular; la UI lo dice explícitamente.\n\nPaginación (B1 — bloqueante de la revisión final): un día entero de\n`demoras_calculadas` son ~10.500 filas SOLO de URGENTE (106 zonas × 99\ncorridas). Supabase/PostgREST corta en 1000 filas por request SIN avisar,\ny como el `.order('corrida_at')` va antes del corte sobrevivían las\ncorridas MÁS VIEJAS: el gráfico terminaba a las 08:30 y la tabla de brecha\npromediaba solo la primera hora y media del día. Se pagina con `.range()`\nen bloques de PAGE_SIZE, mismo patrón que\napp/api/metricas/cumplimiento/run/route.ts (fetchCumplidos/fetchExistentes).\n\nFilas sin capacidad (B2): `sin_capacidad = true` significa que la zona no\ntenía NINGÚN móvil activo y la fila informó el techo (`max_minutos`) por\ndefinición, no por cálculo. A las 07:00 el 72% de la flota está inactiva,\nasí que el arranque del día produce una masa de filas con 120 fijo que, si\nentran al promedio, arruinan la calibración contra el AS400. Se traen las\nbanderas que explican un 120 (`sin_capacidad`, `clampeado`, `ritmo_origen`)\ny se EXCLUYEN esas filas del promedio de brecha, informando cuántas se\nexcluyeron. La serie las conserva (la card las marca en el gráfico).\n\n`escenario_configurado` (B3, corregido en el review final de rama — I6):\nel gate real es `demoras_modelo`, no `demoras_config`. Desde la tanda\nCONSUMO_TRAMOS, `demoras_calcular_run` recorre `FOR m IN SELECT * FROM\ndemoras_modelo ...` — un escenario se calcula si y solo si tiene fila ahí,\ntenga o no fila en `demoras_config` (sin esa, simplemente no escribe nada\npara ningún tipo, igual que hoy con un tipo sin fila). Mirar\n`demoras_config` colaba un falso positivo: un escenario con\n`demoras_config` pero SIN `demoras_modelo` entra al loop del orquestador y\nnunca se calcula, y la card decía \"todavía no hay corridas para hoy\" para\nsiempre — exactamente la explicación falsa que este flag existe para\nevitar.\n\nAuth-scope (fix round 1 — gap Critical del review: el endpoint no acotaba\npor empresa y getServerSupabaseClient() usa service_role, bypass total de\nRLS):\n  - x-track-isroot : 'S' → sin restricción, ve todas las zonas (mismo\n    header que app/api/metricas/dashboard/route.ts).\n  - No-root: requiere `empresaIds` con al menos una empresa cuyo scope en\n    `fleteras_zonas` resuelva a >=1 zona. Fail-closed: sin empresaIds\n    válidos, o si el set de zonas resuelto queda vacío, se devuelve\n    payload vacío SIN tocar `demoras_calculadas` (ni siquiera se pide el\n    cliente de Supabase). `serie` y `zonas` quedan acotados a ese set.\n\nGates de autorización (Task 8 — la card de esta comparativa vive en la\nmisma pantalla que /api/metricas/dashboard, así que comparte su mismo\numbral de acceso, en el mismo orden):\n  - requireAllowlistedEmail(auth.user?.email, METRICAS_DASHBOARD_ALLOWED_EMAILS):\n    chequea el email de la sesión AUTENTICADA (no spoofeable) contra la\n    misma allowlist que metricas/dashboard.\n  - requireFuncionalidad('Estadisticas Cumplimiento'): mismo gate por\n    header x-track-funcs que metricas/dashboard (root bypassea siempre).\n  Los headers x-track-isroot / x-track-empresas-ids que resuelven el scope\n  de zonas más abajo son forjables por el cliente — estos dos gates previos\n  son la defensa real para datos sensibles.",
        "operationId": "getApiDemorasComparativa",
        "parameters": [
          {
            "description": "requerido, int",
            "in": "query",
            "name": "escenario",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "opcional, YYYY-MM-DD; default hoy en Montevideo",
            "in": "query",
            "name": "fecha",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "opcional, URGENTE|NOCTURNO|SERVICE; default URGENTE",
            "in": "query",
            "name": "tipo",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "opcional, int — si viene, `serie` es de esa zona",
            "in": "query",
            "name": "zona",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "opcional, CSV de empresa_fletera_id — scope de zonas del caller no-root, resuelto vía `fleteras_zonas` (mismo patrón que app/api/demoras/route.ts y app/api/zonas/route.ts).",
            "in": "query",
            "name": "empresaIds",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Serie del día y brecha por zona entre la demora que calcula TrackMovil y la que informa el AS400.",
        "tags": [
          "demoras"
        ],
        "x-archivo": "app/api/demoras/comparativa/route.ts",
        "x-auth": {
          "funcionalidades": [
            "Estadisticas Cumplimiento"
          ],
          "gates": [
            "header x-track-isroot (spoofeable)",
            "requireAllowlistedEmail (env)",
            "requireAuth (sesión Supabase)",
            "requireFuncionalidad"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/demoras/modelo": {
      "get": {
        "description": "GET/PUT /api/demoras/modelo — configuración del motor de demora informada\n(Preferencias Globales → sección \"Motor de demora\").\n\nGET ?escenario=N → { modelo (fila completa de demoras_modelo), config\n(demoras_config por tipo), historial (últimas versiones), escenarios }.\n\nPUT { escenario, modelo?: {campos}, config?: [{tipo_servicio, ...}] } →\nUPDATE con whitelist de campos. La VALIDACIÓN de dominio vive en los\nCHECKs de la base (única fuente de verdad — los mismos que protegen al\nmotor): un valor inválido vuelve como 400 con el mensaje del CHECK. El\ntrigger de demoras_modelo versiona y snapshotea en\ndemoras_modelo_historial; las corridas siguientes quedan estampadas con\nla versión nueva (modelo_version).\n\nGate: root (x-track-isroot=S) O funcionalidad \"Preferencias Globales\" —\nmismo criterio y mismo patrón que app/api/realtime-config/route.ts (es\nla misma pantalla). updated_by = header x-track-user.",
        "operationId": "getApiDemorasModelo",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "403": {
            "description": "Acceso denegado"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "GET/PUT /api/demoras/modelo — configuración del motor de demora informada (Preferencias Globales → sección \"Motor de demora\").",
        "tags": [
          "demoras"
        ],
        "x-archivo": "app/api/demoras/modelo/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "header x-track-isroot (spoofeable)"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "put": {
        "description": "GET/PUT /api/demoras/modelo — configuración del motor de demora informada\n(Preferencias Globales → sección \"Motor de demora\").\n\nGET ?escenario=N → { modelo (fila completa de demoras_modelo), config\n(demoras_config por tipo), historial (últimas versiones), escenarios }.\n\nPUT { escenario, modelo?: {campos}, config?: [{tipo_servicio, ...}] } →\nUPDATE con whitelist de campos. La VALIDACIÓN de dominio vive en los\nCHECKs de la base (única fuente de verdad — los mismos que protegen al\nmotor): un valor inválido vuelve como 400 con el mensaje del CHECK. El\ntrigger de demoras_modelo versiona y snapshotea en\ndemoras_modelo_historial; las corridas siguientes quedan estampadas con\nla versión nueva (modelo_version).\n\nGate: root (x-track-isroot=S) O funcionalidad \"Preferencias Globales\" —\nmismo criterio y mismo patrón que app/api/realtime-config/route.ts (es\nla misma pantalla). updated_by = header x-track-user.",
        "operationId": "putApiDemorasModelo",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "403": {
            "description": "Acceso denegado"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "GET/PUT /api/demoras/modelo — configuración del motor de demora informada (Preferencias Globales → sección \"Motor de demora\").",
        "tags": [
          "demoras"
        ],
        "x-archivo": "app/api/demoras/modelo/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "header x-track-isroot (spoofeable)"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/docs/spec": {
      "get": {
        "description": "Devuelve el catálogo de APIs de TrackMovil: el OpenAPI 3.1 generado por\n`pnpm docs:api` mergeado con las anotaciones a mano de docs/api/anotaciones.yaml.\n\nGate: requireRoot (lib/docs/root-guard.ts) — verificado contra SecuritySuite en cada\nrequest, fail-closed. NO usa x-track-isroot: este endpoint publica qué endpoints de\nla app no validan nada, así que un gate por header forjable no alcanza.\n\nRespuestas:\n  200 documento OpenAPI 3.1 (application/json)\n  401 sin token, firma inválida (TOKEN_INVALIDO) o token vencido (TOKEN_VENCIDO)\n  403 el usuario no tiene la funcionalidad 'docs' de la app 5\n  503 SecuritySuite no contestó, o el proceso no tiene un JWT_SECRET real\n      (SECRETO_NO_CONFIGURADO). Fail-closed: no se abre el catálogo.",
        "operationId": "getApiDocsSpec",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Devuelve el catálogo de APIs de TrackMovil: el OpenAPI 3.1 generado por `pnpm docs:api` mergeado con las anotaciones a mano de docs/api/anotaciones.yaml.",
        "tags": [
          "docs"
        ],
        "x-archivo": "app/api/docs/spec/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireRoot (verificado contra secapi)"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/docs/try": {
      "post": {
        "description": "Ejecuta, desde el servidor y con la sesión del root que abrió el portal, una\nllamada a una API de esta misma app, y devuelve status, headers y cuerpo.\n\nGate: requireRoot (lib/docs/root-guard.ts) — el mismo que GET /api/docs/spec:\nfirma del JWT verificada + consulta a SecuritySuite, fail-closed.\n\nCuerpo del request:\n  { payload: \"<base64 de {metodo, path, query, headers, body, confirmacion}>\" }\n\nEl base64 NO es ofuscación: el WAF de nginx delante de TrackMovil rechaza con 403\nlos bodies con sintaxis de shell, y un ejemplo de request legítimo puede tenerla.\nCodificado, el WAF ve una tira de base64 y el cuerpo llega entero.\n\nReglas (lib/docs/try-request.ts, con sus tests):\n  - solo paths `/api/...` del ORIGEN DE CONFIANZA, que se resuelve en el servidor\n    (`DOCS_TRY_ORIGEN` o el `PORT` del proceso) y **nunca** desde un header del\n    request: el `Host` lo elige el cliente, y creerle era SSRF con el Bearer y el\n    cookie jar del root adentro. Nunca es un proxy abierto;\n  - GET/HEAD van directo; POST/PUT/PATCH/DELETE exigen `confirmacion` == path exacto;\n  - `cookie` / `authorization` y los `x-track-*` (la autorización de la app) los pone\n    este handler desde el request entrante: los que mande el payload se descartan (y\n    se listan en `headersDescartados`);\n  - timeout 30 s, respuesta truncada a 1 MB.\n\nRespuestas:\n  200 { status, statusText, headers, body, duracionMs, truncado, ... } — el 200 es\n      del ejecutor: el status del endpoint llamado va adentro, en `status`.\n  400 payload/método/path inválidos (PAYLOAD_INVALIDO, METODO_INVALIDO,\n      PATH_INVALIDO, PATH_FUERA_DE_API, PATH_BLOQUEADO)\n  401/403 el gate root (sin token, token inválido, sin permiso)\n  428 CONFIRMACION_REQUERIDA — escritura sin el path escrito\n  503 SecuritySuite no contestó (SECAPI_*), o no hay origen de confianza\n      (ORIGEN_NO_CONFIGURADO)\n  504 TIMEOUT — el endpoint llamado no respondió en 30 s",
        "operationId": "postApiDocsTry",
        "responses": {
          "200": {
            "description": "OK"
          },
          "502": {
            "description": "Error del upstream"
          },
          "503": {
            "description": "Servicio no disponible"
          },
          "504": {
            "description": "Timeout del upstream"
          }
        },
        "summary": "Ejecuta, desde el servidor y con la sesión del root que abrió el portal, una llamada a una API de esta misma app, y devuelve status, headers y cuerpo.",
        "tags": [
          "docs"
        ],
        "x-archivo": "app/api/docs/try/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireRoot (verificado contra secapi)"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/email-config": {
      "get": {
        "description": "GET  /api/email-config — config GLOBAL de notificación de incidentes por correo\nPUT  /api/email-config — actualiza la config (gate: root o funcionalidad \"Preferencias Globales\")\n\nConfig GLOBAL ÚNICA (una sola fila id=1 en email_settings), mismo modelo de\nconfianza que /api/realtime-config: header x-track-isroot y/o x-track-funcs\nconfiados client-side.\n\nA diferencia de /api/realtime-config, el GET acá TAMBIÉN está gateado\n(la config incluye credenciales SMTP) y NUNCA devuelve smtp_password —\nen su lugar expone `hasPassword: boolean` para que el front sepa si ya\nhay una contraseña guardada.",
        "operationId": "getApiEmailConfig",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "403": {
            "description": "Acceso denegado"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "GET /api/email-config — config GLOBAL de notificación de incidentes por correo PUT /api/email-config — actualiza la config (gate: root o funcionalidad \"Preferencias Globales\")",
        "tags": [
          "email-config"
        ],
        "x-archivo": "app/api/email-config/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "header x-track-isroot (spoofeable)"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "put": {
        "description": "GET  /api/email-config — config GLOBAL de notificación de incidentes por correo\nPUT  /api/email-config — actualiza la config (gate: root o funcionalidad \"Preferencias Globales\")\n\nConfig GLOBAL ÚNICA (una sola fila id=1 en email_settings), mismo modelo de\nconfianza que /api/realtime-config: header x-track-isroot y/o x-track-funcs\nconfiados client-side.\n\nA diferencia de /api/realtime-config, el GET acá TAMBIÉN está gateado\n(la config incluye credenciales SMTP) y NUNCA devuelve smtp_password —\nen su lugar expone `hasPassword: boolean` para que el front sepa si ya\nhay una contraseña guardada.",
        "operationId": "putApiEmailConfig",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "403": {
            "description": "Acceso denegado"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "GET /api/email-config — config GLOBAL de notificación de incidentes por correo PUT /api/email-config — actualiza la config (gate: root o funcionalidad \"Preferencias Globales\")",
        "tags": [
          "email-config"
        ],
        "x-archivo": "app/api/email-config/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "header x-track-isroot (spoofeable)"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/email-config/test": {
      "post": {
        "description": "POST /api/email-config/test — envía un mail de prueba con la config de\nnotificación de incidentes (gate: root o funcionalidad \"Preferencias Globales\").\n\nAcepta un body opcional con overrides (para probar antes de guardar, ej: el\nadmin cambia el host y quiere probar sin haber apretado \"Guardar\" todavía).\nSi el body no trae `smtpPassword`, se usa la password ya guardada (no se\npuede probar sin password si nunca se guardó una).",
        "operationId": "postApiEmailConfigTest",
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Acceso denegado"
          }
        },
        "summary": "POST /api/email-config/test — envía un mail de prueba con la config de notificación de incidentes (gate: root o funcionalidad \"Preferencias Globales\").",
        "tags": [
          "email-config"
        ],
        "x-archivo": "app/api/email-config/test/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "header x-track-isroot (spoofeable)"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/empresas": {
      "get": {
        "operationId": "getApiEmpresas",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "GET /api/empresas",
        "tags": [
          "empresas"
        ],
        "x-archivo": "app/api/empresas/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireAuth (sesión Supabase)"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/escenario-settings": {
      "get": {
        "description": "Lectura publica de los settings de un escenario.\nNo requiere autenticacion (los settings son datos operacionales, no sensibles).\nUsado por el hook useEscenarioSettings en el cliente.",
        "operationId": "getApiEscenarioSettings",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Lectura publica de los settings de un escenario.",
        "tags": [
          "escenario-settings"
        ],
        "x-archivo": "app/api/escenario-settings/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [],
          "sinGate": true
        },
        "x-generado": true
      }
    },
    "/api/fleteras-zonas": {
      "delete": {
        "operationId": "deleteApiFleterasZonas",
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Creado"
          },
          "400": {
            "description": "Request inválido"
          },
          "409": {
            "description": "Conflicto"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "DELETE /api/fleteras-zonas",
        "tags": [
          "fleteras-zonas"
        ],
        "x-archivo": "app/api/fleteras-zonas/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireAuth (sesión Supabase)"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "get": {
        "operationId": "getApiFleterasZonas",
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Creado"
          },
          "400": {
            "description": "Request inválido"
          },
          "409": {
            "description": "Conflicto"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "GET /api/fleteras-zonas",
        "tags": [
          "fleteras-zonas"
        ],
        "x-archivo": "app/api/fleteras-zonas/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireAuth (sesión Supabase)"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "post": {
        "operationId": "postApiFleterasZonas",
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Creado"
          },
          "400": {
            "description": "Request inválido"
          },
          "409": {
            "description": "Conflicto"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "POST /api/fleteras-zonas",
        "tags": [
          "fleteras-zonas"
        ],
        "x-archivo": "app/api/fleteras-zonas/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireAuth (sesión Supabase)"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "put": {
        "operationId": "putApiFleterasZonas",
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Creado"
          },
          "400": {
            "description": "Request inválido"
          },
          "409": {
            "description": "Conflicto"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "PUT /api/fleteras-zonas",
        "tags": [
          "fleteras-zonas"
        ],
        "x-archivo": "app/api/fleteras-zonas/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireAuth (sesión Supabase)"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/geocode": {
      "get": {
        "description": "Proxy server-side hacia el Nominatim self-hosted de Riogas.\nResuelve dos problemas del cliente:\n  - Mixed-content: la app corre en https y Nominatim es http interno.\n  - CORS: el navegador no puede pegarle directo al host interno.\n\nQuery params:\n  - q     (requerido) texto a buscar (nombre de calle, dirección, etc.)\n  - bbox  (opcional)  viewport actual del mapa como \"lonMin,latMin,lonMax,latMax\".\n                      Si viene, se restringe la búsqueda a ese recuadro (bounded=1).\n  - limit (opcional)  máximo de resultados (default 8, máx 15).\n\nDevuelve el JSON crudo de Nominatim (format=jsonv2 + polygon_geojson=1),\nde modo que el cliente pueda pintar la geometría de la calle encontrada.",
        "operationId": "getApiGeocode",
        "parameters": [
          {
            "description": "requerido — texto a buscar (nombre de calle, dirección, etc.)",
            "in": "query",
            "name": "q",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "opcional — viewport actual del mapa como \"lonMin,latMin,lonMax,latMax\". Si viene, se restringe la búsqueda a ese recuadro (bounded=1).",
            "in": "query",
            "name": "bbox",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "opcional — máximo de resultados (default 8, máx 15).",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "502": {
            "description": "Error del upstream"
          }
        },
        "summary": "Proxy server-side hacia el Nominatim self-hosted de Riogas.",
        "tags": [
          "geocode"
        ],
        "x-archivo": "app/api/geocode/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [],
          "sinGate": true
        },
        "x-generado": true
      }
    },
    "/api/import/demoras": {
      "delete": {
        "operationId": "deleteApiImportDemoras",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "DELETE /api/import/demoras",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/demoras/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "post": {
        "operationId": "postApiImportDemoras",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "POST /api/import/demoras",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/demoras/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "put": {
        "operationId": "putApiImportDemoras",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "PUT /api/import/demoras",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/demoras/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/import/empresas": {
      "post": {
        "description": "Importar UNA empresa fletera desde fuente externa (GeneXus/AS400)\n\nBody: un solo objeto {...} con los campos de la empresa\n\nCampos aceptados (PascalCase o snake_case):\n- EFleteraId / empresa_fletera_id (requerido)\n- EscenarioId / escenario_id (default: 1000)\n- Nombre / nombre (requerido)\n- RazonSocial / razon_social\n- Rut / rut\n- Direccion / direccion\n- Telefono / telefono\n- Email / email\n- ContactoNombre / contacto_nombre\n- ContactoTelefono / contacto_telefono\n- Estado / estado (default: 1)\n- Observaciones / observaciones\n\n@returns 200 - Empresa importada correctamente\n@returns 400 - Datos de entrada invalidos\n@returns 500 - Error del servidor o base de datos",
        "operationId": "postApiImportEmpresas",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Importar UNA empresa fletera desde fuente externa (GeneXus/AS400)",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/empresas/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/import/gps": {
      "delete": {
        "description": "Eliminar registros GPS por IDs\n\nAUTENTICACIÓN:\n- Opción 1: Header X-API-Key (para uso interno)\n- Opción 2: Token en el body (para app móvil)",
        "operationId": "deleteApiImportGps",
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Aceptado (procesamiento diferido)"
          },
          "400": {
            "description": "Request inválido"
          },
          "403": {
            "description": "Acceso denegado"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Eliminar registros GPS por IDs",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/gps/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "header x-api-key"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "post": {
        "description": "Insertar registros de GPS tracking\n\nAUTENTICACIÓN:\n- Opción 1: Header X-API-Key (para uso interno)\n- Opción 2: Token en el body (para app móvil)",
        "operationId": "postApiImportGps",
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Aceptado (procesamiento diferido)"
          },
          "400": {
            "description": "Request inválido"
          },
          "403": {
            "description": "Acceso denegado"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Insertar registros de GPS tracking",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/gps/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "header x-api-key"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/import/movZonaServicio": {
      "delete": {
        "description": "Eliminar asignaciones por movil_id, zona_id o ambos.\nRecomputa contadores + sincroniza zonas_cap_entrega para los móviles afectados (best-effort).",
        "operationId": "deleteApiImportMovZonaServicio",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Eliminar asignaciones por movil_id, zona_id o ambos.",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/movZonaServicio/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "header x-api-key",
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "post": {
        "description": "Importar asignaciones móvil-zona desde Genexus.\n\nFormato esperado (TipoDeServicio a nivel raíz es OBLIGATORIO):\n{\n  \"TipoDeServicio\": \"URGENTE\",\n  \"MovZonas\": [\n    { \"EscenarioId\": 1000, \"TipoDeZona\": \"Distribucion\", \"Zona\": \"3\", \"PrioridadOTransito\": 1, \"Moviles\": [304, 305] },\n    { \"EscenarioId\": 1000, \"TipoDeZona\": \"Distribucion\", \"Zona\": \"10\", \"PrioridadOTransito\": 0, \"Movil\": 330 },\n    ...\n  ]\n}\n\nComportamiento:\n  1) Borra filas de moviles_zonas del escenario con tipo_de_servicio = TipoDeServicio (+ vacíos)\n  2) Inserta las nuevas filas\n  3) Recomputa contadores + sincroniza zonas_cap_entrega para todos los móviles afectados (best-effort)",
        "operationId": "postApiImportMovZonaServicio",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Importar asignaciones móvil-zona desde Genexus.",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/movZonaServicio/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "header x-api-key",
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "put": {
        "description": "Mismo comportamiento que POST: importar asignaciones móvil-zona desde Genexus.\n\nTipoDeServicio a nivel raíz es OBLIGATORIO.\nBorra filas del escenario con ese tipo_de_servicio (+ vacíos) e inserta las nuevas.\nRecomputa contadores + sincroniza zonas_cap_entrega para todos los móviles afectados (best-effort).",
        "operationId": "putApiImportMovZonaServicio",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Mismo comportamiento que POST: importar asignaciones móvil-zona desde Genexus.",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/movZonaServicio/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "header x-api-key",
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/import/movZonaServicioFletera": {
      "get": {
        "description": "Consultar zonas de una empresa fletera.\n\nQuery params:\n  - escenarioId (requerido)\n  - efletera / empresaFleteraId (requerido)\n  - tipoDeZona (opcional)\n  - tipoDeServicio (opcional)",
        "operationId": "getApiImportMovZonaServicioFletera",
        "parameters": [
          {
            "description": "requerido",
            "in": "query",
            "name": "escenarioId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "/ empresaFleteraId (requerido)",
            "in": "query",
            "name": "efletera",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "opcional",
            "in": "query",
            "name": "tipoDeZona",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "opcional",
            "in": "query",
            "name": "tipoDeServicio",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Consultar zonas de una empresa fletera.",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/movZonaServicioFletera/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "post": {
        "description": "Consultar zonas de una empresa fletera.\n\nQuery params:\n  - escenarioId (requerido)\n  - efletera / empresaFleteraId (requerido)\n  - tipoDeZona (opcional)\n  - tipoDeServicio (opcional)",
        "operationId": "postApiImportMovZonaServicioFletera",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Consultar zonas de una empresa fletera.",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/movZonaServicioFletera/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "put": {
        "description": "Consultar zonas de una empresa fletera.\n\nQuery params:\n  - escenarioId (requerido)\n  - efletera / empresaFleteraId (requerido)\n  - tipoDeZona (opcional)\n  - tipoDeServicio (opcional)",
        "operationId": "putApiImportMovZonaServicioFletera",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Consultar zonas de una empresa fletera.",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/movZonaServicioFletera/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/import/moviles": {
      "delete": {
        "description": "Eliminar móviles por IDs\n\n@returns 200 - Móviles eliminados correctamente\n@returns 400 - Datos de entrada inválidos\n@returns 500 - Error del servidor o base de datos",
        "operationId": "deleteApiImportMoviles",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Eliminar móviles por IDs",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/moviles/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "post": {
        "description": "Importar móviles desde fuente externa (GeneXus)\n\n@returns 200 - Móviles importados correctamente\n@returns 400 - Datos de entrada inválidos\n@returns 500 - Error del servidor o base de datos",
        "operationId": "postApiImportMoviles",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Importar móviles desde fuente externa (GeneXus)",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/moviles/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "put": {
        "description": "Actualizar móviles existentes (upsert)\n\n@returns 200 - Móviles actualizados correctamente\n@returns 400 - Datos de entrada inválidos\n@returns 500 - Error del servidor o base de datos",
        "operationId": "putApiImportMoviles",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Actualizar móviles existentes (upsert)",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/moviles/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/import/pedidos": {
      "delete": {
        "description": "Eliminar pedidos por IDs",
        "operationId": "deleteApiImportPedidos",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Eliminar pedidos por IDs",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/pedidos/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "post": {
        "description": "Importar o actualizar pedidos desde fuente externa (UPSERT)\nSi el pedido existe (mismo id), lo actualiza. Si no existe, lo inserta.",
        "operationId": "postApiImportPedidos",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Importar o actualizar pedidos desde fuente externa (UPSERT) Si el pedido existe (mismo id), lo actualiza.",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/pedidos/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "put": {
        "description": "Actualizar pedidos existentes (upsert)",
        "operationId": "putApiImportPedidos",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Actualizar pedidos existentes (upsert)",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/pedidos/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/import/puntos-interes": {
      "post": {
        "description": "Upsert masivo de puntos de interés desde Excel.\n\nLógica de matcheo por ID (respeta el id de la planilla):\n  - El id del Excel es la conflict key — upsert por id.\n  - Si (usuario_email, nombre) ya existe en BD con un id DISTINTO al del Excel:\n    DELETE el row conflictivo + INSERT el row del Excel con su id.\n  - POIs privados se sobrescriben igual que cualquier otro (sin skip).\n  - POIs que no vienen en el Excel quedan intocados.\n\nBody esperado:\n{\n  rows: Array<{\n    id: number;\n    nombre: string;\n    categoria?: string;\n    latitud: number;\n    longitud: number;\n    visible?: boolean;\n    tipo?: string;\n    telefono?: number | null;\n    descripcion?: string | null;\n    usuario_email: string;\n    icono?: string;\n    escenario_id?: number | null;\n    empresa_fletera_id?: number | null;\n  }>\n}\n\nResponse:\n{\n  success: true;\n  created: number[];       // ids procesados via upsert (insert+update)\n  replaced: Array<{ deletedId: number; newId: number; nombre: string; usuario_email: string }>;\n  count: number;           // created.length\n}",
        "operationId": "postApiImportPuntosInteres",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Upsert masivo de puntos de interés desde Excel.",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/puntos-interes/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [],
          "sinGate": true
        },
        "x-generado": true
      }
    },
    "/api/import/puntos-venta": {
      "post": {
        "description": "Importa o actualiza puntos de venta desde un archivo Excel (.xlsx).\n\nBody: multipart/form-data\n  - file: archivo .xlsx\n  - usuario: string (email o username del usuario que importa)\n\nColumnas esperadas en el Excel (header row + filas de datos):\n  ID              (requerido, number)  -> punto_venta_id\n  Nombre          (requerido, string)\n  Direccion       (opcional, string)\n  CoordX          (latitud, number)\n  CoordY          (longitud, number)\n  Telefono        (opcional, number)\n  escenario_id    (opcional, number)\n  empresa_fletera_id (opcional, number)\n\nDevuelve: { success: true, count: number, data: any[] }",
        "operationId": "postApiImportPuntosVenta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Importa o actualiza puntos de venta desde un archivo Excel (.xlsx).",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/puntos-venta/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [],
          "sinGate": true
        },
        "x-generado": true
      }
    },
    "/api/import/puntoventa": {
      "delete": {
        "description": "Eliminar puntos de venta por IDs",
        "operationId": "deleteApiImportPuntoventa",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Eliminar puntos de venta por IDs",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/puntoventa/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "post": {
        "description": "Importar puntos de venta desde fuente externa",
        "operationId": "postApiImportPuntoventa",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Importar puntos de venta desde fuente externa",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/puntoventa/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "put": {
        "description": "Importar puntos de venta desde fuente externa",
        "operationId": "putApiImportPuntoventa",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Importar puntos de venta desde fuente externa",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/puntoventa/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/import/services": {
      "delete": {
        "description": "Eliminar services por IDs",
        "operationId": "deleteApiImportServices",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Eliminar services por IDs",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/services/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "post": {
        "description": "Importar o actualizar services desde fuente externa (UPSERT)\nSi el service existe (mismo id), lo actualiza. Si no existe, lo inserta.",
        "operationId": "postApiImportServices",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Importar o actualizar services desde fuente externa (UPSERT) Si el service existe (mismo id), lo actualiza.",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/services/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "put": {
        "description": "Actualizar services existentes (upsert)",
        "operationId": "putApiImportServices",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Actualizar services existentes (upsert)",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/services/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/import/zonas": {
      "delete": {
        "description": "Eliminar zonas por IDs",
        "operationId": "deleteApiImportZonas",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Eliminar zonas por IDs",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/zonas/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "post": {
        "description": "Importar zonas desde fuente externa",
        "operationId": "postApiImportZonas",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Importar zonas desde fuente externa",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/zonas/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      },
      "put": {
        "description": "Actualizar zonas existentes (upsert)",
        "operationId": "putApiImportZonas",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Actualizar zonas existentes (upsert)",
        "tags": [
          "import"
        ],
        "x-archivo": "app/api/import/zonas/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireApiKey"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/incidents": {
      "post": {
        "description": "Recibe metadata del incidente y crea la fila en la tabla incidents.\nEl video ya fue subido directamente a Supabase Storage desde el cliente\nusando la signed upload URL de /api/incidents/upload-url — este endpoint\nNO recibe el blob, solo JSON con metadata.\n\nBody JSON:\n  - video_path: string (path en el bucket, devuelto por /upload-url)\n  - description: string (mínimo 10 chars)\n  - duration_s?: number\n  - mime_type?: string\n  - size_bytes?: number\n  - contact_email?: string\n  - contact_celular: string (obligatorio)\n  - reporter_nombre?: string\n\nNotificación: si INCIDENT_WEBHOOK_URL está definido, se hace un POST\nfire-and-forget al webhook (ej: n8n). El webhook falla silenciosamente.",
        "operationId": "postApiIncidents",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "413": {
            "description": "Payload demasiado grande"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Recibe metadata del incidente y crea la fila en la tabla incidents.",
        "tags": [
          "incidents"
        ],
        "x-archivo": "app/api/incidents/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [],
          "sinGate": true
        },
        "x-generado": true
      }
    },
    "/api/incidents/list": {
      "get": {
        "description": "Devuelve la lista de incidencias con signed URLs para ver el video.\nLee con service_role (bypass RLS). Usar desde /admin/incidencias.",
        "operationId": "getApiIncidentsList",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Devuelve la lista de incidencias con signed URLs para ver el video.",
        "tags": [
          "incidents"
        ],
        "x-archivo": "app/api/incidents/list/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [],
          "sinGate": true
        },
        "x-generado": true
      }
    },
    "/api/incidents/upload": {
      "post": {
        "description": "Recibe el blob del video de incidencia en el body y lo sube al bucket\n\"incident-videos\" de Supabase Storage usando el service_role desde el\nserver. El blob NUNCA viaja directo del browser a Supabase Storage.\n\nPor qué: el host interno de Supabase (supabase.glp.riogas.com.uy) usa un\ncert de una CA interna de RioGas. Browsers fuera de la red rechazan el PUT\ndirecto a la signed URL con ERR_CERT_AUTHORITY_INVALID. Proxyando el upload\npor nuestro backend, el browser solo habla con el dominio del track (cert\nválido). Es el espejo del proxy de descarga en [id]/video/route.ts.\n\nRequest:\n  - Content-Type: video/webm | video/mp4\n  - body: bytes del video\n  - header x-track-user: obligatorio (gate, igual que /upload-url)\n\nRespuesta:\n  { success: true, path: string }",
        "operationId": "postApiIncidentsUpload",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "401": {
            "description": "No autenticado"
          },
          "413": {
            "description": "Payload demasiado grande"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Recibe el blob del video de incidencia en el body y lo sube al bucket \"incident-videos\" de Supabase Storage usando el service_role desde el server.",
        "tags": [
          "incidents"
        ],
        "x-archivo": "app/api/incidents/upload/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [],
          "sinGate": true
        },
        "x-generado": true
      }
    },
    "/api/incidents/upload-url": {
      "post": {
        "description": "Genera una signed upload URL para subir el video de incidencia\ndirectamente al bucket \"incident-videos\" de Supabase Storage desde\nel browser — sin pasar el blob por nginx ni por el body parser.\n\nEl cliente sube el blob con un PUT al signedUrl y luego llama\nPOST /api/incidents con solo la metadata (description, video_path, etc.)\n\nBody JSON:\n  - mime: string (video/webm, video/mp4)\n\nRespuesta:\n  { success: true, signedUrl: string, token: string, path: string }\n\nLa signed URL expira en el default de Supabase Storage (1 hora), más que\nsuficiente para que el cliente complete el upload antes de que expire.",
        "operationId": "postApiIncidentsUploadUrl",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "Genera una signed upload URL para subir el video de incidencia directamente al bucket \"incident-videos\" de Supabase Storage desde el browser — sin pasar el blob por nginx ni por el body parser.",
        "tags": [
          "incidents"
        ],
        "x-archivo": "app/api/incidents/upload-url/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [],
          "sinGate": true
        },
        "x-generado": true
      }
    },
    "/api/incidents/{id}": {
      "delete": {
        "description": "PATCH /api/incidents/[id] → actualiza status/notes.\nDELETE /api/incidents/[id] → borra el video del bucket + la fila.",
        "operationId": "deleteApiIncidentsId",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "404": {
            "description": "No encontrado"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "PATCH /api/incidents/[id] → actualiza status/notes.",
        "tags": [
          "incidents"
        ],
        "x-archivo": "app/api/incidents/[id]/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [],
          "sinGate": true
        },
        "x-generado": true
      },
      "patch": {
        "description": "PATCH /api/incidents/[id] → actualiza status/notes.\nDELETE /api/incidents/[id] → borra el video del bucket + la fila.",
        "operationId": "patchApiIncidentsId",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "404": {
            "description": "No encontrado"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "PATCH /api/incidents/[id] → actualiza status/notes.",
        "tags": [
          "incidents"
        ],
        "x-archivo": "app/api/incidents/[id]/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [],
          "sinGate": true
        },
        "x-generado": true
      }
    },
    "/api/incidents/{id}/video": {
      "get": {
        "description": "Streamea el video de la incidencia desde Supabase Storage hacia el cliente,\nproxyado por nuestro backend. Resuelve dos cosas a la vez:\n\n1) Algunos clientes (redes corporativas con SSL interception, certificados\n   raíz custom) no pueden conectarse directamente a Supabase Storage por\n   ERR_CERT_AUTHORITY_INVALID. Sirviendo el video desde nuestro propio\n   dominio se evita la conexión directa al bucket.\n2) Mantiene los signed URLs de Supabase fuera del cliente — el acceso al\n   bucket se hace solo con service_role desde el server, y el control de\n   autorización lo aplicamos acá (auth + rol root requerido).\n\nSoporta Range requests para que el browser pueda seekear el video.",
        "operationId": "getApiIncidentsIdVideo",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "206": {
            "description": "Respuesta"
          },
          "400": {
            "description": "Request inválido"
          },
          "404": {
            "description": "No encontrado"
          },
          "500": {
            "description": "Error interno"
          },
          "502": {
            "description": "Error del upstream"
          }
        },
        "summary": "Streamea el video de la incidencia desde Supabase Storage hacia el cliente, proxyado por nuestro backend.",
        "tags": [
          "incidents"
        ],
        "x-archivo": "app/api/incidents/[id]/video/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [],
          "sinGate": true
        },
        "x-generado": true
      }
    },
    "/api/latest": {
      "get": {
        "operationId": "getApiLatest",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "404": {
            "description": "No encontrado"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "GET /api/latest",
        "tags": [
          "latest"
        ],
        "x-archivo": "app/api/latest/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [
            "requireAuth (sesión Supabase)"
          ],
          "sinGate": false
        },
        "x-generado": true
      }
    },
    "/api/manual/current": {
      "get": {
        "operationId": "getApiManualCurrent",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "GET /api/manual/current",
        "tags": [
          "manual"
        ],
        "x-archivo": "app/api/manual/current/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [],
          "sinGate": true
        },
        "x-generado": true
      }
    },
    "/api/metricas/cumplimiento/run": {
      "post": {
        "description": "⚠ DEPRECADO COMO PATH DE ESCRITURA (2026-08-03). El cron real llama a la\nFUNCIÓN SQL `metricas_cumplimiento_run` desde 2026-07-24, y desde la\ntanda de desfasaje (docs/sqls/2026-08-03-desfasaje-demoras.sql) la\nfunción calcula columnas que este path NO conoce: compromiso,\ndemora_informada_mins, desfasajes y el espejo en pedidos. Un backfill\nmanual por acá crea hechos DEGRADADOS (esas columnas NULL) y su purga\npuede borrar hechos que el path SQL sí considera válidos. Para backfill\nmanual usar SIEMPRE la función SQL en el SQL Editor:\n  SELECT metricas_cumplimiento_run('YYYY-MM-DD', 'YYYY-MM-DD');\nEste endpoint queda solo como referencia histórica hasta migrarlo a\ndelegar en la RPC (pendiente).\n\nJob del cron nocturno (pg_cron 00:15 UY, ver docs/sqls/2026-07-22-metricas-cumplimiento-cron.sql)\nque puebla la tabla de hechos `metricas_cumplimiento` con la demora\nasignado→cumplido de cada pedido/service cumplido en el rango.\n\nAuth: header `x-metricas-token` comparado (timing-safe, safeCompare) contra\nenv `METRICAS_CRON_TOKEN`. Gate como PRIMER paso del handler (AC4) — sin\ntoken válido no se toca la BD.\n\nRango: sin params, procesa el día CERRADO anterior (Montevideo) + reprocesa\nlos últimos REPROCESS_DIAS días (late arrivals) — ver defaultRunRange().\nAcepta `?desde=&hasta=` (YYYY-MM-DD) para backfill manual (AC5).\n\nIdempotente: upsert por PK (origen,pedido_id,escenario) + purga de hechos\nprevios del rango que dejaron de calificar (OQ5 del plan).\n\nVer docs/METRICAS_CUMPLIMIENTO.md para el modelo completo.",
        "operationId": "postApiMetricasCumplimientoRun",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request inválido"
          },
          "401": {
            "description": "No autenticado"
          },
          "500": {
            "description": "Error interno"
          }
        },
        "summary": "⚠ DEPRECADO COMO PATH DE ESCRITURA (2026-08-03).",
        "tags": [
          "metricas"
        ],
        "x-archivo": "app/api/metricas/cumplimiento/run/route.ts",
        "x-auth": {
          "funcionalidades": [],
          "gates": [],
          "sinGate": true
        },
        "x-generado": true
      }
    },
[...]
